 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 116px;
}

.u-section-1 .u-countdown-1 {
  margin: 26px auto 0;
}

.u-section-1 .u-countdown-counter-1 {
  font-size: 2.25rem;
  line-height: 1;
  text-shadow: 0px 2px 40px rgba(128,128,128,1);
  font-weight: 700;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-1 {
  font-size: 2.25rem;
  line-height: 1;
  text-shadow: 0px 2px 40px rgba(128,128,128,1);
  font-weight: 700;
}

.u-section-1 .u-countdown-counter-2 {
  font-size: 2.25rem;
  line-height: 1;
  text-shadow: 0px 2px 40px rgba(128,128,128,1);
  font-weight: 700;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-2 {
  font-size: 2.25rem;
  line-height: 1;
  text-shadow: 0px 2px 40px rgba(128,128,128,1);
  font-weight: 700;
}

.u-section-1 .u-countdown-counter-3 {
  font-size: 2.25rem;
  line-height: 1;
  text-shadow: 0px 2px 40px rgba(128,128,128,1);
  font-weight: 700;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-3 {
  font-size: 2.25rem;
  line-height: 1;
  text-shadow: 0px 2px 40px rgba(128,128,128,1);
  font-weight: 700;
}

.u-section-1 .u-countdown-counter-4 {
  font-size: 2.25rem;
  line-height: 1;
  text-shadow: 0px 2px 40px rgba(128,128,128,1);
  font-weight: 700;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-4 {
  font-size: 2.25rem;
  line-height: 1;
  text-shadow: 0px 2px 40px rgba(128,128,128,1);
  font-weight: 700;
}

.u-section-1 .u-countdown-counter-5 {
  font-size: 2.25rem;
  line-height: 1;
  text-shadow: 0px 2px 40px rgba(128,128,128,1);
  font-weight: 700;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-5 {
  font-size: 2.25rem;
  line-height: 1;
  text-shadow: 0px 2px 40px rgba(128,128,128,1);
  font-weight: 700;
}

.u-section-1 .u-countdown-counter-6 {
  font-size: 2.25rem;
  line-height: 1;
  text-shadow: 0px 2px 40px rgba(128,128,128,1);
  font-weight: 700;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-custom-html-1 {
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-countdown-counter-1 {
    font-family: Lobster, display;
  }

  .u-section-1 .u-countdown-separator-1 {
    font-family: Lobster, display;
  }

  .u-section-1 .u-countdown-counter-2 {
    font-family: Lobster, display;
  }

  .u-section-1 .u-countdown-separator-2 {
    font-family: Lobster, display;
  }

  .u-section-1 .u-countdown-counter-3 {
    font-family: Lobster, display;
  }

  .u-section-1 .u-countdown-separator-3 {
    font-family: Lobster, display;
  }

  .u-section-1 .u-countdown-counter-4 {
    font-family: Lobster, display;
  }

  .u-section-1 .u-countdown-separator-4 {
    font-family: Lobster, display;
  }

  .u-section-1 .u-countdown-counter-5 {
    font-family: Lobster, display;
  }

  .u-section-1 .u-countdown-separator-5 {
    font-family: Lobster, display;
  }

  .u-section-1 .u-countdown-counter-6 {
    font-family: Lobster, display;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 751px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 746px;
  margin: 20px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 423px;
  grid-gap: 17px;
  margin: 47px auto 60px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-gallery-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-2 .u-gallery-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-gallery-1 {
    height: 825px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2224px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1896px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1534px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1206px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 799px;
}

.u-section-3 .u-product-1 {
  min-height: 679px;
  background-image: none;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 1px 30px 0;
}

.u-section-3 .u-image-1 {
  width: 453px;
  height: 677px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 537px;
  min-height: 563px;
  height: auto;
  background-image: none;
  margin: -620px 30px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 4px;
  margin: 0 auto;
}

.u-section-3 .u-product-price-1 {
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 15px 0 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 60px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-3 .u-product-1 {
    min-height: 561px;
    margin-top: 11px;
    margin-bottom: 11px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-3 .u-image-1 {
    width: 350px;
    height: 559px;
    margin-top: 1px;
  }

  .u-section-3 .u-group-1 {
    width: 440px;
    min-height: 441px;
    margin-top: -500px;
    height: auto;
  }

  .u-section-3 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1003px;
  }

  .u-section-3 .u-product-1 {
    min-height: 826px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 407px;
    margin-left: auto;
  }

  .u-section-3 .u-group-1 {
    min-height: 352px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-product-1 {
    min-height: 864px;
    margin-bottom: 22px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-1 {
    min-height: 392px;
    width: 350px;
    margin-left: 85px;
    margin-right: 85px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 901px;
  }

  .u-section-3 .u-product-1 {
    min-height: 781px;
    margin-bottom: 15px;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 372px;
  }

  .u-section-3 .u-group-1 {
    min-height: 422px;
    width: 320px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before,
.u-section-3 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-3 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-3 .u-btn-1 {
  border-color: transparent !important;
}.u-section-4 .u-sheet-1 {
  min-height: 479px;
}

.u-section-4 .u-list-1 {
  width: 868px;
  margin: 60px auto 58px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 357px;
  grid-gap: 30px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 110px;
  height: 110px;
  background-image: url("images/IMG_0063.PNG");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: -110px auto 0 147px;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0 147px;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 110px;
  height: 110px;
  background-image: url("images/432709619_7439613502787072_1837474539857444414_n.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: -110px auto 0 147px;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0 147px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-top: 172px;
    margin-bottom: 100px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 661px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 541px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-5 .u-group-1 {
  min-height: 112px;
  margin-top: 30px;
  margin-bottom: 0;
  --radius: 30px;
  height: auto;
  width: 510px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 25px;
}

.u-section-5 .u-icon-1 {
  width: 48px;
  height: 48px;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-5 .u-text-2 {
  margin: -36px 4px 12px 60px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-5 .u-group-2 {
  min-height: 181px;
  margin-top: 30px;
  margin-bottom: 0;
  --radius: 30px;
  height: auto;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 25px;
}

.u-section-5 .u-icon-2 {
  width: 48px;
  height: 48px;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-5 .u-text-4 {
  margin: -36px 4px 0 60px;
}

.u-section-5 .u-icon-3 {
  width: 48px;
  height: 48px;
  margin: 38px auto 0 0;
  padding: 0;
}

.u-section-5 .u-text-5 {
  margin: -36px 4px 0 60px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 541px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-5 .u-map-1 {
  height: 415px;
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 446px;
  }

  .u-section-5 .u-group-1 {
    width: 410px;
    height: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-group-2 {
    height: auto;
  }

  .u-section-5 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 446px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-group-1 {
    width: 300px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 668px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-1 {
    min-height: 170px;
    width: 518px;
    margin-right: 2px;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-group-1 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-5 .u-group-2 {
    margin-top: 37px;
  }
}